<li ng-repeat="node in data |orderBy:sort track by node.uuid"
    ng-animate="mk-tree-animate"
    class="{{options.classes.li}}"
    ng-class="node.selected? options.classes.selected: ''"
    role="treeitem">
    <span ng-if="!options.editable"
          id="{{node.uuid}}"
          title="{{node.hasChildren?(node.collapsed?'Expand this branch':'Collapse this branch'):''}}">
        <i ng-class="node.icon" ng-click="toggle(node)"></i>
        <a ng-click="select(node)">{{node.label}}</a>
    </span>
    <span ng-if="options.editable"
          id="{{node.uuid}}"
          mk-droppable="true"
          title="{{node.hasChildren?(node.collapsed?'Expand this branch':'Collapse this branch'):''}}"
          ng-dblclick="node.editable = true"
          on-drop="dragAndDrop(dragEl, dropEl)">
        <i class="{{options.classes.draggable}}" mk-draggable="true" ng-class="options.classes.iconDraggable"></i>
        <i ng-class="node.icon" ng-click="toggle(node)"></i>
        <mk-tree-edit model="node" on-save="edit(node)" on-select="select(node)"></mk-tree-edit>
    </span>
    <section ng-if="options && options.editable" ng-hide="node.editable" ng-class="options.classes.editableBtnGroup">
        <i ng-class="options.classes.iconAdd" title="Add child" ng-click="add(node)"></i>
        <i ng-class="options.classes.iconRemove" title="Remove" ng-click="remove(node)"></i>
    </section>
    <ul ng-if="node.hasChildren" ng-hide="node.collapsed" role="group">
        <mk-tree-children data="node.children" options="options"></mk-tree-children>
    </ul>
</li>