<ul role="tree" class="mk-tree">
    <div class="mk-loader-mask" ng-show="loading"></div>
    <div class="mk-tree-data">
        <mk-tree-children data="data" options="options"></mk-tree-children>
    </div>
</ul>