/* Drag and Drop*/

.mk-droppable-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.mk-droppable-target {
    /*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    */
    /*background-color: #ddd;*/
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move !important;
    /*border:1px solid black;*/
}

/* MAIN */

.mk-loader-mask {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: url(../bundles/mindkhumanico/public/images/ajax-loader.gif) no-repeat 50% 50% rgba(0, 0, 0, 0.6);
}

.mk-tree > mk-tree > ul > .mk-tree-data > mk-tree-children > li:before,
.mk-tree > mk-tree > ul > .mk-tree-data > mk-tree-children > li:after {
    border: 0 none;
}
.mk-tree li {
    padding-right: 0;
}
/*.mk-tree ul ul li:hover {*/
/*background: none;*/
/*}*/
.mk-tree li span {
    border-style: solid;
    border-radius: 0;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
/*.mk-tree li span:hover {*/
/*background: #eee;*/
/*border: 1px solid #94a0b4;*/
/*}*/

/*.mk-tree li > .mk-btn-group{*/
/*display: none;*/
/*}*/

/*.mk-tree li:hover > .mk-btn-group{*/
/*display:block;*/
/*}*/


.mk-tree li span a {
    color: #666666;
    text-decoration: none;
}

.mk-tree li.mk-selected > .mk-tree-row-wrap > span > mk-tree-edit > a,
.mk-tree li.parent_li span:hover a{
    color: #FFFFFF;
    text-decoration: none;
}

.mk-tree li.parent_li span:hover sup{
    color: #FFFFFF;
}

.mk-tree li.parent_li input{
    color: #666666;
}

.mk-tree li.mk-selected > .mk-tree-row-wrap > span {
    background-color: #DF8505;
    border: 1px solid #C67605;
    color: #FFFFFF;
}



.mk-tree li.mk-selected > .mk-tree-row-wrap > span sup{
    color: #FFFFFF;
}

.mk-tree-animate-enter,
li.mk-tree-row.ng-enter {
    transition: 200ms linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0px;
}

.smart-form section {
    margin-right: 5px;
}

.mk-tree-animate-enter.mk-tree-animate-enter-active,
li.mk-tree-row.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}

.mk-tree-animate-leave,
li.mk-tree-row.ng-leave {
    transition: 200ms linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

.mk-tree-animate-leave.mk-tree-animate-leave-active,
li.mk-tree-row.ng-leave-active {
    height: 0px;
    max-height: 0px;
    opacity: 0;
}

.mk-tree-row i.fa{
    cursor: pointer;
}


.mk-tree sup{
    color: #126F2C;
    font-weight: bold;
}
/*.mk-tree-draggable,*/
/*.mk-btn-group {*/
/*display: none;*/
/*}*/

/*li.mk-tree-row:hover > span > .mk-tree-draggable,*/
/*li.mk-tree-row:hover >section > .mk-btn-group {*/
/*display: inline;*/
/*}*/

/*.mk-tree li.parent_li > span {*/
/*cursor: pointer;*/
/*padding: 7px;*/
/*}*/
.mk-tree li.parent_li .mk-tree-row-wrap {
    height: 35px;
    padding-right: 85px;
    position: relative;
}
.mk-tree li.parent_li .mk-tree-row-wrap section.pull-right {
    visibility: hidden;
}
.mk-tree li.parent_li .mk-tree-row-wrap:hover section.pull-right {
    visibility: visible;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span {
    padding: 0 25px 0 32px;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > .mk-btn-group {
    position: absolute;
    right: 0;
    top: 0;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover,
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000000;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover {
    background-color: #DF8505;
    border: 1px solid #C67605;
    color: #ffffff;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover + ul li::before {
    border-left-color: #F89406;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover + ul li::after {
    border-top-color: #F89406;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span:hover + ul li span {
    background: #FDDFB3 !important;
    border: 1px solid #FAA937;
    color: #000;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span sup  {
    width: 14px;
    margin-right: -5px;
    position: absolute;
    right: 14px;
    top: 12px;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span i.fa {
    position: absolute;
    top: 10px;
    left: 7px;
}
.mk-tree li.parent_li > .mk-tree-row-wrap > span i.fa-minus-circle,
.mk-tree li.parent_li > .mk-tree-row-wrap > span i.fa-file-o,
.mk-tree li.parent_li > .mk-tree-row-wrap > span i.fa-plus-circle {
    left: 14px;
}
.mk-tree li span input {
    margin: 7px 0;
    max-width: 100%;
    width: 471px;
}
.mk-tree li span a.indented {
    padding: 7px 0;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.smart-form section {
    margin-bottom: 0;
    line-height: 35px;
}
