<html ng-app="app">
<head>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="src/styles/tree.css"/>

</head>

<body ng-controller="MainController">

<p>Hello, world!</p>

<div class="tree smart-form">
    <mk-tree
            data="tree"
            selected="selected"
            options="options"
            selected="selected"

            on-expand="expandNode(node)"
            on-init="initTree(data)"
            on-edit="editNode(node)"
            on-add="addNode(node, data)"
            on-remove="removeNode(node)"
            on-drag-drop="moveNode(source, target)"
            on-select="selectNode(node)"
            >
    </mk-tree>

    <br/>

    <div>
        <button type="button" ng-click="addRoot()">Add Root</button>
    </div>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

<script type="application/javascript" src="src/main.js"></script>
<script type="application/javascript" src="src/services/builder.js"></script>
<script type="application/javascript" src="src/directives/tree.js"></script>
<script type="application/javascript" src="src/directives/draggable.js"></script>
<script type="application/javascript" src="src/directives/droppable.js"></script>
<script type="application/javascript" src="src/directives/editable.js"></script>
<script type="application/javascript" src="src/directives/children.js"></script>
<script type="application/javascript" src=".tmp/templates.js"></script>

<script type="application/javascript">


    angular.module('app', ['mk.tree']).controller('MainController', ['$scope', function ($scope) {
        'use strict';


        $scope.options = {
            editable: true,
            ajax: true
        };

        $scope.tree = [
            {label: 'Item1', children: [], id: 'item1'},
            {label: 'Item2', id: 'item2', children: [
                {label: 'SubItem1', children: [
                    {label: 'Sub Sub Item', children: [
                        {label: 'Sub Sub Sub Item', children: [

                        ], id: 'sub-sub-sub-item'}
                    ], id: 'sub-sub-item'}
                ], id: 'subitem1'},
                {label: 'SubItem2', children: [], id: 'subitem2'}
            ]}
        ];

        $scope.selected = 'sub-sub-item';

        $scope.removeNode = function (node) {
            console.log('remove event');
            return {
                then: function (callback) {
                    callback();
                }
            }
        };

        $scope.initTree = function (data) {
            console.log('init: ', data);
        };

        $scope.addNode = function (node, data) {
            console.log('adding node: ', node, data);
            return {
                then: function (callback) {
                    callback({'data': {'data': {
                        label: data.label,
                        children: []
                    }}});
                }
            }
        };

        $scope.selectNode = function (node) {
            console.log('selecting node: ', node);
        };

        $scope.moveNode = function (source, target) {
            console.log('moving node: ', source, 'into ', target);
            return {
                then: function (callback) {
                    callback();
                }
            }
        };

        $scope.expandNode = function (node) {
            return {
                then: function (callback) {
                    callback({data: {
                        data: []
                    }});
                }
            }
        };


        $scope.editNode = function (node) {
            console.log('editing node:', node);
            return {
                then: function (callback) {
                    callback();
                }
            }
        };

        $scope.addRoot = function () {
            console.log('adding root');
            $scope.$broadcast('MK-TREE-ADD-ROOT', {'label': 'new Node'});
        }
    }]);


</script>

</body>

</html>